<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <strong><%= user.name %></strong></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<div class="row mt-5">
  <img src="imgs/gift.png" alt="ano" />
</div>
